body, html {
     height: 100%;
}

body {
    font-family: Helvetica, 'Trebuchet MS', sans-serif;
    background: #ebebeb;
    background-image: url('/resources/img/mocha.png');
    background-repeat: repeat;
}


.background-image-container {
    height: 100%;
    position: static;
    background-image: url('/resources/img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* color: #f6f6f6; */
    color: white;
    text-align: center;

    text-shadow: 0 0 5px  rgb(0,0,0),
                 0 0 10px rgb(0,0,0),
                 0 0 15px rgb(0,0,0),
                 0 0 20px rgb(0,0,0);
}
.background-image-container h1 {
    font-size: 8em;
    font-weight: bold;
    /* text-shadow: 0 0 5px rgb(0,0,0), */
    /*              0 0 10px rgb(0,0,0), */
    /*              0 0 15px rgb(0,0,0); */
                 /* 0 0 20px rgb(255,17,119); */
                 /* 0 0 35px rgb(255,17,119), */
                 /* 0 0 40px rgb(255,17,119), */
                 /* 0 0 50px rgb(255,17,119), */
                 /* 0 0 75px rgb(255,17,119) ; */
}
.background-image-container h2 {
    font-weight: bold;
    font-size: 4em;
}
.background-image-container h3 {
    font-size: 3em;
}
.background-image-container .authors {
    font-size: 2em;
}
.background-image-container .institution {
    margin-top: 20px;
    font-size: 1.5em;
}
.background-image-container hr {
    border: 0;
    border-top: 2px solid #aaa;
    width: 75%;
    box-shadow: 0 0 5px  rgb(0,0,0),
                 0 0 10px rgb(0,0,0),
                 0 0 15px rgb(0,0,0),
                 0 0 20px rgb(0,0,0);
}
.background-image-container {
    padding-top: 200px;
}
.background-image-container .scroll-down {
    font-size: 4em;
    position: absolute;
    bottom: 15px;
    text-shadow: 0 0 5px  rgb(0,0,0),
                 0 0 10px rgb(0,0,0),
                 0 0 15px rgb(0,0,0),
                 0 0 20px rgb(0,0,0);
}
.background-image-container .scroll-down:hover {
    text-shadow: 0 0 5px  rgb(255,255,255),
                 0 0 10px rgb(255,255,255),
                 0 0 15px rgb(255,255,255),
                 0 0 20px rgb(255,255,255);
}

.background-image-container .lab-logo {
    position: absolute;
    bottom: 15px;
    left: 20px;
}
.background-image-container .uzh-logo {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.background-image-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation {
    /* text-align: right; */
    background-color: #222;
    position: absolute;
    top: 0;
    width: 100%;
    height: 33px;
    color: silver;
    border-bottom: 1px solid black;
    font-size: 1.5em;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    background-color: #333;
    padding: 5px 15px;
    display: inline;
    border-left: 1px solid #555;
    border-right: 1px solid black;
}
.navigation a {
    color: silver;
}


.content {
    background-color: white;
    /* Right box shadow */
    webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.25);
    padding: 25px;
}
.container {
    /* Left box shadow */
    webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
    padding: 0;
}

@media (min-width: 970px) {
    .container{
        width: 1300px;
    }
}

.screenshots {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.screenshots .slick-prev:before, .slick-next:before {
    color: #333;
}

img.screenshot {
    margin-top: 5px;
    /* Hide initially, this will be overridden by the */
    /* carousel plugin */
    display: none;
}

/* .drop-shadow { */

/*     -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.58); */
/*     -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.58); */
/*     box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.58); */
/* } */
