body, html {
     height: 100%;
}

body {
    font-family: Helvetica, 'Trebuchet MS', sans-serif;
    background: #7D7D7D;
    background-image: url("/resources/img/mocha.png");
    background-repeat: repeat;
}

.gradient-overlay {
    overflow: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…g9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+); */
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
}

img.backdrop-logo {
    width: 500px;
    height: 500px;

    z-index: -1;
    position: fixed;
    bottom: 50px;
    right: 50px;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.6;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.1)), to(#000000));
}

.main {
    z-index: 100;
    margin-top: 50px;
    /* In case the window has to be scrolled*/ 
    margin-bottom: 50px;
}

.panel-horizontal {
    border-top: 1px solid #626262;
    border-bottom: 1px solid #222222;
}

.panel-vertical {
    border-left: 1px solid #626262;
    border-right: 1px solid #222222;
}

.content {
    color: #DCDCDC;
    background-color: #3D3D3D;
}
.header, .body {
    padding: 10px;
}
.header {
    font-weight: bold;
    font-size: 2em;
}

img.screenshot {
    margin-top: 5px;
    /* Hide initially, this will be overridden by the */
    /* carousel plugin */
    display: none;
}

.drop-shadow {

    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.58);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.58);
}
